# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm


# dotenv environment variables file
.env

*.class
*.properties
*.lst

*.iml
*.properties
*.class
*.class
*.class
*.MF
*.class
*.class
*.class
*.xml
surveyape/target/classes/cmpe275/controller/Surveys.class
frontend/package-lock.json
